.container{
    width: 700px;
    height: 700px;
    border-style: solid;
    border-width: 1px;
    border-color: red;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.square{
    min-width: 5px;
    aspect-ratio: 1/1;
    border-style: solid;
    border-width: 1px;
    flex: 0 1 auto;
}